/* #container{
  display: flex;
  flex-direction: row;
}
#main{
  margin: 0 auto;
}
#container-2{
  
}
#main-table{

  border-collapse:collapse;
  /* width: 100vw;
  height: 100vh; */

/* #table-td{
  border: 1px solid black;
 
  height: 35px;
}
#table-td1{
  border: 1px solid black;

  height: 35px;
  
}
#table-td2{
  border: 1px solid black;
  width: 100%;
  height: 35px;
  
}
#table-td3{
  border: 1px solid black;
  width: 33.3%;
  height: 35px;
}
#table-td4{
  border: 1px solid black;
  width: 33.3%;
  height: 35px;
}
#table-td5{
  border: 1px solid black;
  width: 33.3%;
  height: 35px;
}
/* #tabletd:active{
  border: 1px solid black;
  width: 300px;
  height: 55px;
 
} */
table, th ,td{
  border: 1px solid rgb(23, 12, 119);
  border-collapse: collapse;
  width: 100%;

}
td {
  text-align: center;
}
thead {
  border: 0;
}
tr{
  display: flex;
  flex-direction: row;
  flex-grow: 2;

}
input{
  border:none;
}

#main {
  padding: 20px;
  min-width: 350px;
}

